---
import { type CollectionEntry, getCollection } from 'astro:content';

import Layout from '../../layouts/PageTemplate.astro';
import BreadCrumbs from '../../components/BreadCrumbs.astro';
import PageTitle from '../../components/PageTitle.astro';
import WorkModal from '../../components/WorkModal.astro';

import '../../styles/css/works.css';

export async function getStaticPaths() {
	const works = await getCollection('works');
	return works.map((work) => ({
		params: { slug: work.slug },
		props: work,
	}));
}
type Props = CollectionEntry<'works'>;

const work = Astro.props;
const { Content } = await work.render();
---

<Layout title="Works" description="">
	<div id="works" class="md_contentUnit">
		<BreadCrumbs
      pages={[
        {name: 'TOP', url: '/'},
        {name: 'WORKS', url: '/works'},
      ]}
      />

		<PageTitle
				subTitle="WHAT WE DESIGNED"
				svg="/imageFile/join_title.svg">
				<h2 class="rubi">私たちが<br />してきたこと</h2>
		</PageTitle>

    <WorkModal {...work.data}>
      <Content />
    </WorkModal>
  </div>
</Layout>