---
import Layout from '../../layouts/PageTemplate.astro';
import BreadCrumbs from '../../components/BreadCrumbs.astro';
import PageTitle from '../../components/PageTitle.astro';
import ContentTitle from '../../components/ContentTitle.astro';
import Catch from '../../components/Catch.astro';
import WorkUnit from '../../components/WorkUnit.astro';

import { getCollection } from 'astro:content';

import '../../styles/css/works.css';

const works = (await getCollection('works'));
---

<Layout title="Works" description="">
	<div id="works" class="md_contentUnit">
		<BreadCrumbs
      pages={[
        {name: 'TOP', url: '/'},
        {name: 'WORKS', url: '/works'},
      ]}
      />

		<PageTitle
				subTitle="WHAT WE DESIGNED"
				svg="/imageFile/join_title.svg"
        panel="/imageFile/works/panel_works.png">
				<h2 class="rubi">私たちが<br />してきたこと</h2>
		</PageTitle>

    <div class="unitContent spaceLess pageTopCopy">
			<Catch>
				私たちが得意とするのは、「体験」のデザイン。<br>
        強みであるWebプロダクトのデザインを軸に、<br>
        企業やサービスの価値向上にコミットし続けてきました。<br>
        ここではその事例のほんの一部をご紹介します。
			</Catch>
		</div>

    <div class="worksArea">
    {
      works.map((work) => (
        <WorkUnit
          title={work.data.title}
          desc={work.data.desc}
          num={work.data.num}
          slug={work.slug} />
      ))
    }
    </div>

	</div>
</Layout>