---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<section>
  <slot />
</section>

<style>
	section {
    width: 100%;
    height: 20em;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 16px;
    font-feature-settings: 'palt';
    text-align: justify;
    letter-spacing: 0.02em;
  }
  p { margin-bottom: 1em; }
</style>