---
import { Image } from 'astro:assets';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import xinLogo from '../assets/XIN_logo.svg';
---

<!-- md_header--top -->
<header class="md_header md_header--top">
	<h1 class="logo">
		<a href="../index.html" class="header--logo isSmall" alt="xin.inc"></a>
	</h1>
</header>
<!-- /md_header--top -->

<!-- md_header--bottom -->
<header id="header" class="md_header md_header--bottom">
	<nav class="nav">
		<ul class="md_tab">
			<li class="tab"><a href="../index.html#service" class="md_btn">SERVICE</a></li>
			<li class="tab"><a href="../index.html#works" class="md_btn">WORKS</a></li>
			<li class="tab"><a href="../index.html#members" class="md_btn">MEMBERS</a></li>
			<li class="tab"><a href="../index.html#contact" class="md_btn">CONTACT</a></li>
			<li class="tab"><a href="../index.html#join" class="md_btn">JOIN US</a></li>
			<li class="tab"><a href="../index.html#company" class="md_btn">COMPANY</a></li>
		</ul>
	</nav>
	<button class="md_btn md_btn--menu md_linkPart js_drawerOpen" data-drawer="md_drawer--menu">
		<span class="bar"></span>
		<span class="bar"></span>
	</button>
</header>
<!-- /md_header--bottom -->

<div class="md_floatMenu md_floatMenu--left">
	<div class="catch">株式会社XIN（サイン）</div>
</div>

<div class="md_floatMenu md_floatMenu--right">
	<div class="catch">Innovation Design Firm</div>
</div>

<style>

</style>
