---
import { Members } from '../content/Members.js';
import MemberList from '../components/MemberList.astro';
import MemberModal from '../components/MemberModal.astro';
import ContentTitle from '../components/ContentTitle.astro';
import SwiperMembers from './SwiperMembers.astro';

const memberSetClass = 'memberSet js_slick hidden';

import '../styles/css/modal.css';
---

<div id="members" class="md_contentUnit md_contentUnit--category md_contentUnit--member js_animeReveal07">
  <div class="unitTitle unitTitle--category">
    <div class="titleSet">
      <div class="subTitle">WHO WE ARE</div>
      <div class="title">
        <img src="imageFile/member_title.svg" alt="member" class="titleImg">
        <img src="imageFile/member_title.svg" alt="member" class="titleImg">
      </div>
      <h2 class="rubi">
        私たちの<br>
        想い
      </h2>
    </div>
  </div>
  <div class="unitContent">
    <div class="contentArea">
      <p class="catchSet">
        私たちはXINである以前に、ひとりひとりが個性溢れるクリエイター。<br>
        ここに集まった個性のひとつひとつが<br>
        XINを形作っています。
      </p>
    </div>
  </div>
</div>
<div class="memberSwiper">
  <SwiperMembers members={Members} />
</div>