---
import { Image } from 'astro:assets';
import xinLogo from '../assets/XIN_logo.svg';
---

<div class="logo">
  <Image src={xinLogo} alt="XIN" width="200" />
</div>

<style>
	.logo {
    margin: 2em 0;
  }
</style>