@charset "utf-8";

/*----------------------------------------
 Import
----------------------------------------*/

@import '_reset';
@import '_variable';
@import '_default';

/*----------------------------------------
 contactInfo
----------------------------------------*/
.contactInfo {
  text-align: center;
  .imgSet {
    margin-top: 25px;
  }
  .moreArea {
    margin-top: 50px;
  }
}